
*{
    background-image: url("./imagen/fondo.PNG");
    font-family: roboto;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo-alura{
    padding-top: 10px ;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: rgb(238, 238, 240);
    margin-top: 90px;
    text-transform: lowercase;

}
::placeholder{
    color:rgb(229, 228, 235);
}

.text-area:focus{
    outline: none;
}

.mensaje{
    border:none;
    background: none;
    color: #f1f2f3;
    border-radius: 25px;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    
}

.mensaje:focus{
    outline: none;
}

.botones{
    display:flex;
    height: 18vh;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;       
}

button{
   
   position: relative;
   padding: 20px ;
   text-decoration: none;
   color: #f1f2f3;
   letter-spacing: 7px;
   transition: all 0.6s ease;
   cursor: pointer;
    width: 300px;
    height: 100px;
    border-radius: 50px;
    /* text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    */

}


.btn-encriptar{
    overflow: hidden;
    border: 3px solid #03cc57;
    z-index: 1;
    

}

.btn-encriptar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: -200%;
    background-color: #03cc57;
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;
}

.btn-encriptar:hover::before {

    top: 0;
    border-radius: 0%;
}
.btn-desencriptar{
    overflow: hidden;
    border: 3px solid #03cc57;
    z-index: 1;
    
}

.btn-desencriptar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: -200%;
    background-color: #03cc57;
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;
}

.btn-desencriptar:hover::before {

    top: 0;
    border-radius: 0%;
}



.btn-copiar{
    width: 25%;
    padding: 25%;
}

.copiar{
   position: relative;
   padding: 20px ;
   text-decoration: none;
   color: #f1f2f3;
   letter-spacing: 7px;
   transition: all 0.6s ease;
    width: 300px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid #03cc57;
    z-index: 1;
    display: none;
    margin-top: 580px;
    
    /* border: 1px solid rgb(230, 230, 238) ;
    border-radius: 24px;
    color: rgb(248, 248, 248);
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 565px;
    position: absolute;
    width: 336px;
    background: #0A3871;
    display: none;
    */
    
}

.copiar::before{

    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: -200%;
    background-color: #03cc57;
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;

}

.copiar:hover::before {

    top: 0;
    border-radius: 0%;
}


.validacion{
    color: #f1f2f3;
    font-size: 20px;
    font-weight: bold;
}
.validacion::before{
    content: "⚠";
    color: red;
}


.logo-git{
    margin: 0;
    width:100px;
    position: relative;
        
}

.logo-linke{
    margin: 0;
    width: 85px;
    position: relative;
        
}

.piedepagina{
   position: relative;
   cursor: pointer;
    margin-left: 80px;
   
}
.creador{
    width: auto;
    margin: -50px 200px 200px 200px;
    color: aliceblue;

}

